@charset "UTF-8";

h1{
	text-align: center;
}

.container{   
	display: flex;
 	justify-content: center;
    border: 4px rgb(36, 36, 122) double;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;   
    padding: 2%;
    width: 70%;
}

label{
	display: block;
	width: 100px;
	float: left;
}

.container-login {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 60px auto;
}

.erreur-id {
    color: red;
    padding: 10px 0;
}

.create-account {
    text-align: center;
    margin: 20px auto;
}

.underlined {
    text-decoration: underline;
}

